li { // A METTRE DANS DESIGN.SCSS 
    list-style: none;
}

#search {
    position : relative;
}

// .fieldset {
//     width: 100%;
//     height : 1px;
//     background-color: $gold;
// }

#search .category-search {
    border-top : 1px solid $gold;
    padding : 10px; 
    position : relative;
}

.dropdown-menu  {
    position: absolute;
    left: 14px;
    width: 80px;
}

#search > ul {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px 30px;
    height: 400px;
    overflow: scroll;
    background-color: #171B2E;
    width: 500px;
}

#search li {
    margin : 15px 0px;
    width : 100%;
    cursor: pointer;
}

#search input[type=text] {
    width: 95px;
    background-color : transparent;
    color : white;
    text-transform: uppercase;
    border : none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline-block;
}

#search input[type=text]::placeholder {
    color : $white;
}

#search input[type=text]:focus::placeholder {
    color : $white;
}

#search input[type=text]:focus {
    width: 200px;
    outline : none;
    border-bottom : 1px solid white;
}

#search .imgSong { // CODE REPETEEE
    width : 3.5em;
    height : 3.5em;
    float : left;
    vertical-align : top;
}

#search .imgUser img { // CODE REPETEEE
    width : 3.5em;
    height : 3.5em;
    float : left;
    vertical-align : top;
    background-size: cover;
}

#search .block-detail{
    display: flex;
    flex-direction : column;
    margin-left: 10px;
}

// music detail : title + duration
#search .block-detail .music-details {
    display : flex;
    flex-direction : row;
    align-items : top;
    justify-content: space-between;

}

#search p {
    margin-bottom:0;
    text-align: left;
}


//buttons 
#search .button-interaction {
    display : flex;
    flex-direction : row;
    align-items : top;
}

#search .button-interaction .iconLike:before {
    font-size: 1em;
    margin-right : 10px;
}

#search .iconPlay {
    float: left;
    margin: 0 10px;
}

#search .user-details {
    display : flex;
    flex-direction : column;
    align-items : top;
    justify-content: space-between;
    margin-left : 50px;
}

// DROPDOWN PLAYLIST ADD
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
