// HEADER PROFIL 
.header-profil {
	background-color : $black-blue;
	z-index : 0;
	box-shadow: -2px 2px 3px 0 rgba(0,0,0,0.50);
}

.header-profil .content {
	position : relative;
	padding-top : 30px;
}

 @media only screen and (max-width: 970px) {
    .content {
    padding-left : 60px;
    padding-right : 60px;
	}
}

.header-profil .img-profil {
	max-width : 50%;
	display : inline-block;
	vertical-align : top;
	border-radius : 3px;
	position : relative;
	margin-left : 15px;
}

//Pour le responsive de l'image
.header-profil .img-profil:after {
	content: "";
	display: block;
}

.header-profil .img-profil img{
	width : 100%;
	height : auto;
}

//Points rouge derrrière l'image
.header-profil .img-profil .circles-red {
	position : absolute;
	left : -15px;
	bottom : -15px;
	width : 100%;
	background-color : $red;
	z-index : -3;
}

.header-profil .img-profil .circles-red:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

// Tout le contenu sauf image
.header-profil .datas-profil{
	display : inline-block;
	margin-left : 20px;
	vertical-align : top;
}

//datas-left ( name + button)

.header-profil .data-left {
	float: left;
}

.header-profil .data-left .big-title {
	font-size : 24px;
	color : $white;
}

.header-profil button {
	background: rgba(255,255,255,0.10);
	border-radius: 3px;
	border-color : transparent;
	vertical-align: text-bottom;
	padding : 5px 15px 5px 15px;
	text-transform : uppercase;
} 

.header-profil button:active{
	border: none;
}

//data-right : numbers datas
.header-profil .data-right {
	position : absolute;
	right : 140px;
	top : 60px;
}

.header-profil .data-right h2{
	display : block;
	margin : 0;
}

.header-profil .data-right div span,p {
	display : inline-block;
}

.header-profil .data-right div:last-child {
	margin-top : 15px;
}


//subnav
.header-profil .subnav {
	text-align : left;
	margin-bottom : 20px;
	margin-top: 12px;
	width : 100%;
}

.header-profil .subnav li{
	width : 19%;
	
	margin : 0;
}

.header-profil .subnav li a{
	color: $white;
}

.header-profil .subnav li:hover a{
	color: $white;
}

.header-profil .subnav li:last-child {
	margin-right: 0;
}
