
.inscription {
	height : 780px;
    padding-top : 100px;
}

#inscription img {
	display: block;
	margin: 0 auto;
}

#inscription .title-subscribe {
	text-transform: none;
	text-align: center;
	margin-top: 40px;
	font-size: 2em;
}

#inscription .form-inscription input[type=text]  {
    width: 45%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin: auto;
    margin-top: 3%;
}

#inscription .form-inscription input[type=email] {
    width: 45%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin: auto;
    margin-top: 3%;
}

#inscription .form-inscription input[type=password]  {
    width: 45%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin: auto;
    margin-top: 3%;
}

#inscription .form-inscription input, textarea {
    color : $white;
	line-height: 2;
}

#inscription .form-inscription .buttonSubscribe {
    width: 18%;
    height: 33px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
}

#inscription .ifNot {
    margin-top : 30px;
    text-align : center;
}

#inscription .ifNot p:nth-child(2):hover {
	font-weight: 700;
	cursor: pointer;

}