
.login {
	height : 780px;
    padding-top: 100px;
}

#login img {
	display: block;
	margin: 0 auto;
}

#login .title-connexion {
    text-transform: none;
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
}

#login .form-connexion input[type=text] {
    width: 45%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin:auto;
    margin-top: 3%;
}

#login .form-connexion input[type=password] {
    width: 45%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin: auto;
    margin-top: 3%;
}

#login .form-connexion input, textarea {
    color : $white;
	line-height: 2;
}

#login .form-connexion .buttonConnexion {
    width: 18%;
    height: 33px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
}

#login .ifNot {
    margin-top : 30px;
    text-align : center;
}

#login .ifNot p:nth-child(2):hover {
	font-weight: 700;
	cursor: pointer;
}