// CONTENU MES EVENEMENTS

.events {
	padding-bottom: 60px;
}

.events .event{
	cursor : pointer;
	width: 25%;
	//pour des colonnes de 25%;
	display : inline-block;
	padding : 0 2% 0 2%;
}

.events .top-events .detail{
	display : inline-block;
	cursor : pointer;
}

.events .body-text {
	line-height: 1.2;
	margin-top : 5px;
}

.events .top-events {
	margin-top : 30px;
	margin-bottom: 20px;
}

//Miniature photo de profil
.events .block-mini-image {
	width: 2.3em;
	display : inline-block;
	vertical-align : top;
	
}

.events .mini-image{
	width: 100%;
	border-radius : 30px;
}

.events .mini-image:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.events .event-context{
	margin-right : 0;
	display : inline-block;
	max-width : 65%;
	vertical-align : top;
}

//Mettre les "..."
.events .event span {
	width: 100%;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}

.events .title {
	display : block;
}

.events h2{
	display : inline-block;
}

.events .img-event {
	width : 100%;
	border-radius : 3px;
	margin-bottom : 5px;
	position : relative;
	background-color: $black-blue;
	box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.events .img-event img {
	width : 100%;
	height : auto;
}

//EVENTS COMING
.events .events-coming .img-event span {
	position :absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display : none;
	font-size : 2em;
	width : auto;
}

.events .events-coming .img-event:hover span{
	display : block;
}


//EVENTS PASSED

.events .events-passed .img-event .whenHover {
	display : none;
	position :absolute;
	top: 0;
	left: 0;
	font-size : 2em;
	width : 100%;
	height : 100%;
}

.events .events-passed .img-event:hover .whenHover{
	display : block;
}

// Icon play
.events .events-passed .img-event .whenHover .icon-play:before { 
	content: "\f144";	 
	font-family : FontAwesome;
	font-style: normal;
    font-weight: normal;
    font-size : 1em;
	position : absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.events  .events-passed .img-event .whenHover .icon-pause:before {
	content : "\f28b";
	font-family: FontAwesome;
	position : absolute;
	top : 0px;
	right :10px;
	font-size : 2em;
	width : auto;
}

// .events .events-passed .img-event:hover .icon-play:hover:before{
// 	font-size: 2.2em;
// }


.events .img-event:hover img {
	opacity: 0.2;
}

//Icon other

.events  .events-passed .img-event .whenHover .icon-other {
	position : absolute;
	top : 0px;
	left: 0px;
	display : block;
}

.events  .events-passed .img-event .whenHover .dropdown{
	left : 20px;
}

.events  .events-passed .img-event .whenHover .dropdown button:before {
	content: "\f141";	 
	font-family : FontAwesome;
	font-style: normal;
    font-weight: normal;
    font-size : 1em;
	width : auto;
	position: absolute;
    left: 0;
}

.events  .events-passed .img-event .whenHover ul {
	position : absolute;
	top : 2px;
	right: 40px;
	list-style-type: none;
	}

.events  .events-passed .img-event .whenHover ul li a {
	position : relative;
	text-decoration: none;
}

.events  .events-passed .img-event .whenHover ul li a:hover {
	text-decoration: none;
}

.events  .events-passed .img-event .whenHover button {
	background-color : transparent;
	border : none;
}

.events  .events-passed .img-event .whenHover .dropdown {
	position: absolute;
	right: 40px;
	top: 0px;
}


.events  .events-passed .img-event .whenHover .dropdown-menu {
	position: absolute;
	left: 0;
	top: 50px;
	width: 240px;
}

// //stars ranking
// .events .events-passed .img-event .rating {
//   unicode-bidi: bidi-override;
//   direction: rtl;
//   position : absolute;
//   width : 100%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   display : block;
//   text-align: center;
//   margin: 0 auto;
// }

// .events .img-event:hover .rating{
// 	display : block;
// 	color : white;
// }

// .events .events-passed .img-event .rating > span {
//   display: inline-block;
//   position: relative;
//   width: 1.2em;
//   font-size : 1.2em;
// }
// .events .events-passed .img-event .rating > span:hover:before,
// .events .events-passed .img-event .rating > span:hover ~ span:before {
//    content: "\2605";
//    position: absolute;
//    color : $red;
// }

