// CONTENU MES EVENEMENTS

.profil {
	padding-bottom: 60px;
}

.profil .event{
	cursor : pointer;
	width: 20%;
	margin: 0 2% 0 2%;
	float : left;
}

.profil .top-events .detail{
	color : grey;
	font-size : 0.8em;
	display : inline-block;
	cursor : pointer;
}

.profil .top-events .detail:hover {
	font-weight : 400;
}

.profil .body-text {
	font-weight : 100;
	line-height: 1.2;
	margin-top : 5px;
}

.profil .top-events {
	margin-top : 30px;
	margin-bottom: 20px;
}

.profil .block-mini-image {
	width: 18%;
	display : inline-block;
	vertical-align : top;
}

.profil .mini-image{
	display : inline-block;
	width : 1.8em;
	border-radius : 30px;
	margin-right : 0;
}

.profil .mini-image:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.profil .event-context{
	margin-right : 0;
	display : inline-block;
	max-width : 70%;
	vertical-align : top;
}


.profil .event span {
	width: 100%;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}

.profil .event span:hover {
	font-weight : 600;
}

.profil .title {
	font-family : 'Gotham-Medium', sans-serif;
	font-weight : medium;
	display : block;
}

.profil h2{
	display : inline-block;
}

.profil .img-event {
	width : 100%;
	border-radius : 3px;
	margin-bottom : 5px;
	position : relative;
	background-color: $black-blue;
}

.profil .img-event:after {
	content: "";
	display: block;
}

.profil .img-event img {
	width : 100%;
	height : auto;
}

//EVENTS COMING
.profil .events-coming .img-event span {
	position :absolute;
	top : 50%;
	left : 50%;
	transform: translate(-50%, -50%);
	display : none;
	font-size : 2em;
	width : auto;
}

.profil .img-event:hover span{
	display : block;
}


//EVENTS PASSED

// Icon play
.profil .events-passed .img-event .icon-play:before { 
	content: "\f144";	 
	font-family : FontAwesome;
	font-style: normal;
    font-weight: normal;
    font-size : 2em;
	display : none;
	position : absolute;
	top : 0px;
	right :10px;
	
}

.profil  .events-passed .img-event .icon-pause:before {
	content : "\f28b";
	font-family: FontAwesome;
	position : absolute;
	top : 0px;
	right :10px;
	font-size : 2em;
}

.profil .events-passed .img-event:hover .icon-play:before{
	display : block;
}

.profil .events-passed .img-event:hover .icon-play:hover:before{
	font-size: 2.2em;
}

.profil .img-event:hover img {
	opacity: 0.2;
}

//Icon other
.profil  .events-passed .img-event .icon-other:before {
	content: "\f141";	 
	font-family : FontAwesome;
	font-style: normal;
    font-weight: normal;
    font-size : 2em;
	position : inherit;
	top : 0px;
	right :10px;
}

.img-event ul {
	position : absolute;
	top : 2px;
	right: 40px;
	list-style-type: none;
	}

.img-event ul li a {
	position : relative;
	text-decoration: none;
}

.img-event ul li a:hover {
	text-decoration: none;
}

.img-event button {
	background-color : transparent;
	border : none;
	display : none;
}

.img-event .dropdown {
	position: absolute;
	right: 40px;
	top: 0px;
}

.profil .img-event:hover button{
	display : block;
}


.img-event .dropdown-menu {
	position: absolute;
	left: 0;
	top: 50px;
	width : 100%;
}

//stars ranking
.profil .events-passed .img-event .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  position : absolute;
  width : 55%;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  display : none;
}

.profil .img-event:hover .rating{
	display : block;
	color : white;
}

.profil .events-passed .img-event .rating > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
  font-size : 1.2em;
}
.profil .events-passed .img-event .rating > span:hover:before,
.profil .events-passed .img-event .rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color : $red;
}

