.header-profil {
	background-color : $black-blue;
	z-index : 0;
	box-shadow: -2px 2px 3px 0 rgba(0,0,0,0.50);
}

.header-profil .content {
	padding-left : 10%;
	padding-right : 10%;
	position : relative;
}

.header-profil .circles-red {
	position : absolute;
	left : 12%;
	top : 40px;
	height : 320px;
	width : 180px;
	background-color : $red;
	z-index : -3;
}

.header-profil .infos-profil {
	width : 80%;
	margin-left : 10%;
	margin-top : 90px;
}

.header-profil .img-profil {
	max-width : 160px;
	display : inline-block;
	vertical-align : top;
	border-radius : 3px;
}

.header-profil .img-profil img {
	width: 100%;
	height: 100%;
}



.header-profil .datas-profil{
	display : inline-block;
	width: calc(100% - 185px);
	margin-left : 20px;
	margin-top : 20px;
	vertical-align : top;
}

.header-profil .subtitle-gold {
	margin : 0;
	font-size : 0.9em;
}

.header-profil .title {
	font-size : 1em;
}

.header-profil .datas-profil div {
	display : inline-block;
	margin-right : 60px;
	text-align : center;
	margin-top : 10px;
}

.header-profil .subnav {
	text-align : left;
	margin-bottom : 20px;
	margin-top : 60px;
}

.header-profil .subnav a {
	margin-right : 50px;
	font-size : 1em;
}

.header-profil .datas-profil button {
	background: rgba(255,255,255,0.10);
	border-radius: 3px;
	border-color : transparent;
	vertical-align: text-bottom;
} 

button img {
	display : inline-block;
}

button p {
	display : inline-block;
	color : $red;
}

// CONTENU MES EVENEMENTS


#profil {
	padding-bottom: 60px;
}


.events {
	display : block;
}

#profil .event{
	display : inline-block;
	width : 160px;
	vertical-align : top;
	cursor : pointer;
}

#profil .detail{
	color : grey;
	font-size : 0.8em;
	display : inline-block;
	cursor : pointer;
}

#profil .body-text {
	font-weight : 100;
}

#profil .mini-image{
	display : inline-block;
	width : 30px;
	height : 30px; 
	border-radius : 30px;
	background-color : white;
	margin-right : 0;
}

#profil .event-context{
	margin-right : 0;
	display : inline-block;
}

#profil .title {
	font-family : 'Gotham-Medium', sans-serif;
	font-weight : medium;
	display : block;
}

#profil h2{
	display : inline-block;
}

#profil .img-event {
	width: 160px ;
	height : 160px;
	background-color : $white;
	border-radius : 3px;
	margin-bottom : 5px;
}

.top-events {
	margin-top : 30px;
}

.events-coming div:nth-child(-n+3){
	margin-right : 70px;
}